* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    background-color: #871;
    background-image: url('img/fondo-mosaico1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#main {
    width: fit-content;
    height: fit-content;
    /* background-color: #980; */
}

#zona-info {
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #39f011;
    text-shadow: 1px 1px 2px #111;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #999; */
}

#zona-tirar-ficha {
    border: 1px solid #111;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(45deg, #1088cc, #032f57);
}

button {
    opacity: 0;
    color: seagreen;
    background-color: lightblue;
}

#canvas {
    border: 1px solid #111;
    border-radius: 0 0 6px 6px;
    /* width: 800px; */
    /* height: 600px; */
    background-color: #555;
}
